# see http://editorconfig.org/ for docs on this file

root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.Designer.cs, *.config]
indent_style = space

[*.Designer.cs]
trim_trailing_whitespace = false
end_of_line = crlf

[*.resx, *.settings]
indent_style = space
indent_size = 2
